*.png
*.acpype
*.mol2
oldfiles
logs
predicted_pmfs
Datasets/TrainingData.csv
AllPMFs
AllPMFsRegularised
AllPMFsOldNames
AllPMFsRegularisedOldNames
SurfacePotentials/oldpotentials
ChemicalPotentials/oldpotentials
ChemicalPotentialsOld
models
