*.png
*.acpype
*.mol2
oldfiles
logs
predicted_pmfs
Datasets/TrainingData.csv
AllPMFs
AllPMFsRegularised
AllPMFsOldNames
AllPMFsRegularisedOldNames
SurfacePotentials/oldpotentials
ChemicalPotentials/oldpotentials
ChemicalPotentialsOld
models
!models/PMFPredictor-oct13-clustersplit-ensemble1/checkpoints/*
Datasets/ChemicalHGE
Datasets/SurfaceHGE
Datasets/PMFHGE
predicted_epoch_pmfs
Datasets/OldDatasets
__pycache__
predicted_avg_pmfs
SurfacePotentialsBackup
TestingPMFs251022
surface_pmfp